$include /etc/inputrc
set editing-mode vi
set show-mode-in-prompt on
set show-all-if-ambiguous on
set colored-stats on
set completion-ignore-case on
set mark-directories on
set skip-completed-text on
set history-preserve-point on
set bell-style none

set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
j: history-search-forward
k: history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif
