UXTerm.termName: xterm-256color
*locale: false
*utf8: true
*metaSendsEscape: true
*saveLines: 4096
*faceName: Comic Code:size=13:antialias=true
*scaleHeight: 1.2
*boldColors: false
*backarrowKey: false
*selectToClipboard: true
UXTerm*ttyModes: erase ^?
UXTerm*visualBell: false
UXTerm*fullscreen: never
UXTerm*internalBorder: 5

!copying
UXTerm.vt100.translations: #override \n\
	<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

!gruvbox-light
*color0: #fbf1c7
*color1: #cc241d
*color2: #98971a
*color3: #d79921
*color4: #458588
*color5: #b16286
*color6: #689d6a
*color7: #7c6f64
*color8: #928374
*color9: #9d0006
*color10: #79740e
*color11: #b57614
*color12: #076678
*color13: #8f3f71
*color14: #427b58
*color15: #3c3836
*foreground: #3c3836
*background: #fbf1c7
